body{
    background-color: #5D7DB2;
}
small{
    color: gray;
}
label{
    font-weight: normal;
}
input[type=button]{
    text-transform: capitalize;
}
.btn{
    font-size:14px;
}
.btn-outline-intranet{
    color: black;
    background-color: white;
    border-color: black;
}
.btn-outline-intranet:hover{
    color: white;
    background-color: #5c7cb1;
    border-color: #5c7cb1;
}
.btn-intranet{
    color: white;
    background-color:#5c7cb1;
    border-color: #5c7cb1;
}
.btn-intranet:hover{
    color: white;
    background-color:#425e8a;
    border-color: #425e8a;
}
.btn-bottomless{
    color:#5c7cb1;
    font-size:12px;
}
.text-intranet{
    color:#5c7cb1 !important;
}
nav{
    background-color: #e6e6e6;
}
.navbar-nav{
    font-size:14px;
}
.active{
    /*text-decoration: underline;*/
    font-weight: bold;
}
.card-header{
    font-size:18px;
    background-color: #5c7cb1;
    color: white;
    font-family: Arial;
    font-weight: bold;
}
.card-top{
    text-align: center;
    background-color: #5c7cb1;
    color: white;
    font-size:18px;
}
.borda{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+23,e5e5e5+81 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 23%, #e5e5e5 81%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 23%,#e5e5e5 81%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 23%,#e5e5e5 81%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    box-shadow:black 0em 0em 0.2em;
}
.rolagem{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.item-intranet.active {
    z-index: 2;
    color: #fff;
    background-color: #5c7cb1;
    border-color: #5c7cb1;
}
fieldset.scheduler-border {
    border: 1px groove #5c7cb1;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
    margin-top: 10px;
}

legend.scheduler-border {
    font-size: 1.2em;
    font-weight: normal;
    text-align: left;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
    margin-top: -15px;
    background-color: white;
    color: black;
}

.disabled-style {
    background-color: #e9ecef;
    color: #6c757d;
    cursor: not-allowed;
}

.enabled-style{
    background-color: white !important;
}

.bg-intranet{
    background-color: #5c7cb1;
    margin-top: -16px;
}
.custom-navbar {
    background-color: #e6e6e6;
    padding: 10px 20px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    font-weight: bold;

}
.custom-nav-item {
    display: inline-block;
    margin-right: 20px;
}

.custom-nav-item a {
    text-decoration: none;
    color: #4b699b;
    padding: 14px;
    transition: background-color 0.5s ease;
}

.custom-nav-item a:hover {
    background-color: #bfbfbf;
}

.mt4{
    margin-top: 4px;
}
.mt6{
    margin-top: 6px;
}
.mt8{
    margin-top: 8px;
}
.mb4{
    margin-top: 4px;
}
.mb6{
    margin-top: 6px;
}
.mb8{
    margin-top: 8px;
}
